<!DOCTYPE html>

<html lang ="en-US">
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1">
        <title> Trinidad and Tobago Beaches</title>
        <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Faster+One|Montserrat+Subrayada" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
            
    </head>
    <body>
        
 